language: python
python:
  - 3.6
services:
  - docker
install:
  - docker build -t max-speech-to-text-converter .
  - docker run -it --rm -d -p 5000:5000 max-speech-to-text-converter
  - pip install pytest requests flake8
before_script:
  - flake8 . --max-line-length=127
  - sleep 30
script:
  - pytest tests/test.py
